.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 87vh;
}

.header {
  margin-bottom: 0px;
  height:7vh;
  display: flex;
  justify-content: center;
}

.footer {
  justify-content: center;
  height: 6vh;
}

.main-panel {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
  color: #2c7a7b;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
  width:100%;
}

html, body {
  font-size: 18px;
  background-color: #f5f6f7 !important;
}

.App {
  height: 100vh; /*100%  de toda la pantalla */
  /* display: flex;
flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  text-align: center;
}